* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
}

body {
  background-color: #EBEEF3;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}

img {
  object-fit: cover;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #404040;
  line-height: 21px;
  resize: none;
}

.ant-pagination-item-active {
  border: none !important;
}